<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <a href='/bob/7BfW1eoDh27W69nxsmRicb'><img src='static/bob.jpg' width="350" height="350"></a><br/><br/>
    <a href='/rick/4uLU6hMCjMI75M1A2tKUQC'><img src='static/rick.jpg' width="350" height="350"></a><br/><br/>
    <a href='/regen/3OhZdTcwr8eho3iol2YqMy'><img src='static/regen.png' width="350" height="350"></a><br/><br/>
    <a href='/bos/17kqaq39xg9nP1j6goQW5A'><img src='static/bos.png' width="350" height="350"></a><br/><br/>
    <a href='/romantic/39l1UORIhuHvUWfxG53tRZ'><img src='static/getiton.png' width="350" height="350"></a>
</body>
</html>